*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  /* 1rem = 10px/16px = 62.5% */
}
body {
  color: #000;
  background: #eee;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.6rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2.2rem;
}
h6 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

li {
  list-style: none;
  margin-left: 5rem;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

/* HEADER */

.header {
  background-color: #47deff;
  padding: 2rem;
}

.header__flex {
  display: flex;
}

/* RECIPE CARD */

.card {
  width: 23%;
  box-shadow: 1px 1px 2px 1px 2px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 1rem;
  margin: 1rem;
}

.img-wrapper {
  width: 100%;
  overflow: hidden;
}

.recipe-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.recipe-title {
  font-size: 2rem;
}

/* pages */

.home {
  margin-top: 3rem;
}

.home-flex {
  display: flex;
  flex-wrap: wrap;
}
